.blearbtn {
  border: 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  padding: 0;
  margin: 0;
  height: 40px;
  font-size: 14px;
  line-height: 2.71429;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  cursor: pointer; }
  .blearbtn:active {
    background: #f7f7f7; }
  .blearbtn_default {
    color: #888; }
    .blearbtn_default:hover, .blearbtn_default:active {
      background: #eeeeee; }
  .blearbtn_primary {
    color: #1890ff; }
    .blearbtn_primary:hover, .blearbtn_primary:active {
      background: #e4f2ff; }
  .blearbtn_success {
    color: #22bf5e; }
    .blearbtn_success:hover, .blearbtn_success:active {
      background: #eefcf3; }
  .blearbtn_danger {
    color: #f5222d; }
    .blearbtn_danger:hover, .blearbtn_danger:active {
      background: #feeff0; }
