
@import "./variable";

.blearbtn {
  border: 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  padding: 0;
  margin: 0;
  height: 40px;
  font-size: 14px;
  // button 特殊
  line-height: ((40px - 2px)/14px);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: inherit;
  cursor: pointer;

  &:active {
    background: #f7f7f7;
  }

  &_default {
    color: $button-default-color;

    &:hover,
    &:active {
      background: lighten($button-default-color, 40%);
    }
  }

  &_primary {
    color: $button-primary-color;

    &:hover,
    &:active {
      background: lighten($button-primary-color, 40%);
    }
  }

  &_success {
    color: $button-success-color;

    &:hover,
    &:active {
      background: lighten($button-success-color, 52%);
    }
  }

  &_danger {
    color: $button-danger-color;

    &:hover,
    &:active {
      background: lighten($button-danger-color, 42%);
    }
  }
}